* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 50px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #212121;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;

}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    mix-blend-mode: normal;
    min-height: 87px;
    top: 50px;
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;

}

.subheader .subheader_official {
    color: #FFFFFF;
    margin-top: 6px;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
}


.subheader .subheader_call {
    color: #FFFFFF;
    text-align: right;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    margin-top: 21px;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    min-height: 46px;
    width: 172px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: none;
}

.promo {
    min-height: 799px;
    background: url(../img/bg/uber_bg.png) center center/cover no-repeat;
    padding: 155px 0 185px 0;
}

.promo .promo_header {
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin: 0;
    margin-top: 68px;
    line-height: 60px;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 36px;
}

.promo .promo_decsr {
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
}


.promo .promo_btn {
    display: block;
    margin: 116px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 63px;

}


.reasons {
    padding: 18px 0 64px 0;
}

.reasons .reasons_benifits {
    width: 115px;
    height: 27px;
    background: #000000;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 29px;
    margin: 0 auto;
}

.reasons .header_benifits {
    margin: 0;
    margin-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.reasons .reasons_block .reasons_text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
}

.reasons .reasons_block .reasons_decsr {
    width: 371px;
}

.reasons .reasons_block .reasons_subtitle {
    color: #1EACC7;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}